.btn {
  padding: 10px 40px;
  border: 1px solid #999;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  font: 400 16px system-ui;
  vertical-align: middle;
  box-sizing: border-box;
  color: #666;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;

  &:active,
  &:focus {
    outline: none;
  }
}

.primary-btn {
  border-color: #39f;
  background-color: #39f;
  color: #fff;
  margin-left: 10px;
}

body {
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  font-weight: 200;
}

h3 {
  margin-top: 40px;
}

pre {
  text-align: left;
  background-color: #eee;
  padding: 15px 20px;
  line-height: 1.6em;
  border-radius: 3px;
  margin-bottom: 20px;
  overflow-x: auto;
}